/php*.js
/php*.mjs
/php*.js.br
/php*.mjs.br
/php*.js.gz
/php*.mjs.gz
/php*.wasm
/php*.wat
/php-*.wasm.gz
/php-*.wasm.br
/php*.wasm.map
/php*.data
/php*.data.gz
/php*.data.br
docs-source/app/assets/php*.js
docs-source/app/assets/php*.wasm
docs-source/app/assets/php*.wasm.gz
docs-source/app/assets/php*.wasm.br
docs-source/app/assets/php*.wat
docs-source/app/assets/php*.wasm.map
docs-source/app/assets/php*.data
docs-source/app/assets/php*.data.gz
docs-source/app/assets/php*.data.br
/Php*.js
/Php*.mjs
/*.js
/*.mjs
/node_modules
configured
.env
/*-src/
/docs/*.map
/.cache
.env
packages/**/*.so
emscripten/
**.generated.mjs
