#root {
	background-color: #008282;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: url(./sane-sigil.svg);
	background-size: max(200px, 10%) max(400px, 35%);
	background-position: 95% 95%;
	background-repeat: no-repeat;
}

html {
	height: 100dvh;
}

body, #root, .App {
	width: 100%;
	height: 100%;
}

.bevel {
	border: 2px solid;
	border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABmJLR0QA/wAAAAAzJ3zzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5AgMCwwgoCmHaAAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAOklEQVQI11XMwQnAMAzAwEvpWPZ0GSwPe6/2USiJnkJoVNVjIzNdEBEiwloLPgnd/dc3zDn3g4HjCS9aigyDqeLTLAAAAABJRU5ErkJggg==) 2 2 2 2 !important;
	background-color: #c3c3c3;
	padding: 1em;
}

.inset {
	border: 2px solid;
	/* padding: 0.25em; */
	border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAABmJLR0QAAAAAAIL69VlzAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5AgLDRcjCUxZQwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAOUlEQVQI11WMwQkAMAjEInQPR9XR3MRRrp+22MB9whHLTDGICDjyTZLWfVQV7g7AAujuWcAkfU2ADVsVFrX3Q3PKAAAAAElFTkSuQmCC) 2 2 2 2;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.padded {
	padding: 0.75rem;
}

button.padded {
	padding: 0.75rem 1.5rem;
}

.margined {
	margin: 0.5rem;
}

[data-iframed="1"].margined {
	margin: 0rem;
}

[data-iframed="1"].margined > .bevel {
	padding-top: 0.8rem;
}

.button-bar {
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
}

.button-bar button {
	padding: 0.5rem;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.button-bar button img {
	margin: 0 0.25rem;
}

.contents {
	display: contents;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 1000;
}

.overlay:empty {
	pointer-events: none;
}

.row.toolbar {
	padding: 0.25em 0em;
	border: 2px solid;
	border-image: url(border-inset.png) 2 2 2 2;
	align-items: center;
}

.row.toolbar.tight {
	padding: 0;
}

.row.toolbar > div{
	display: flex;
	justify-content: flex-end;
	padding: 0em 0.5em;
	flex: 1;
	flex-direction: row;
}

.row.toolbar > div .start{
	flex: 1;
}

.row.toolbar hr {
	margin: 0;
	margin-left: 1rem;
	margin-right: 1rem;
}

.row.toolbar button[data-run],
.row.toolbar button[data-reset-storage],
.row.toolbar button[data-refresh] {
	height: 50px;
	min-width: 3em;
	font-weight: bold;
	border: 2px solid;
	align-self: center;
	margin-left: 0.5em;
	margin-right: 0.25em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 85%;
}

button.square {
	width:2.15rem;
	height:2.25rem;
}

.row.header {
	/* margin: 0.5rem; */
}

.flex-end {
	justify-content: flex-end;
}

a, button, select, input {
	cursor: pointer;
}

[data-iframed="1"] h2:first-child {
	margin-top: 0em;
}

[data-iframed="1"] h2 {
	margin-bottom: 0.25em;
}

[data-iframed="1"]:not(.Confirm) > .bevel {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}

[data-iframed="1"] .bevel .frameworks {
	display: flex;
	flex-direction: column;
}

[data-iframed="1"] .bevel .frameworks,
[data-iframed="1"] .bevel .frameworks .row.icons {
	flex: 1;
}


