#root, .home {
	width: 100%;
	height: 100dvh;
}

.home {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.home h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 0.75rem;
}

.home-menu .big-link:not(:last-child) {
	margin-right: 0.5rem;
}

.home-menu .big-link {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 18rem;
	display: flex;
	background-color: white;
	text-align: center;
}

.home-menu .big-link {
	text-decoration: none !important;
	color: black;
}

.home-menu .big-link p {
	font-size: 1.1rem;
}

.big-link .big-icon {
	--size: 212px;
	height: var(--size);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.big-link .big-icon img {
	object-fit: contain;
	height: var(--size);
	box-sizing: border-box;
	max-width: 100%;
}

.big-link .big-icon .offset-column {
	display: flex;
	flex-direction: column;
}

.big-link .big-icon[data-scroll-state="0"] .offset-column {
	transition: transform 0s !important;
}

.big-link .big-icon.cgi .offset-column {
	transition: transform 0.75s cubic-bezier(.65,0,0.25,1.0);
	position: relative;
	transform: translateY(calc(-1 * calc(var(--size) * var(--offset, 0))));
}

.big-link .title {
	color: #0000EE;
	text-decoration: underline;
	font-size: 1.8rem;
}

.small-icon {
	height: 1rem;
	vertical-align: baseline;
	position: relative;
	top: 4px;
}

.demo-bar {
	margin-top: 0.5rem;
}

.column {
	display: flex;
	flex-direction: column;
}

p.padded {
	margin: 0;
}

.home .extra-demos {
	background-color: white;
}

a.icon-box {
	margin-top: 0.25rem;
	align-items: center;
	max-width: 64px;
	font-size: 0.85rem;
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	padding: 0.5rem;
}

a.icon-box img {
	margin-bottom: 0.25rem;
}

.home h3 {
	display: flex;
	align-items: center;
}

.home h3 button.square {
	width: 1.55rem;
	height: 1.55rem;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0.25rem;
}

.home h3 img {
	width: 1rem;
}
