.select-framework {
	width: 100%;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.select-framework .frameworks {
	/* margin: 0.5rem; */
}

.select-framework .frameworks .icons {
	/* padding: 0.5rem; */
}

.select-framework .frameworks .column {
	align-items: stretch;
	/* margin:0.5rem; */
}

.select-framework .frameworks .column button {
	padding: 0.75rem 0;
}

.select-framework .frameworks a {
	background-color: white;
	display: block;
	text-align: center;
	border-bottom: 1px solid #333;
}

.select-framework .frameworks a img {
	height: 120px;
	width: 6rem;
	margin:0.75rem;

}

.select-framework .frameworks .column:nth-child(2n) a {
	background-color: #EEE;
}
